include includes/headers.pug 

    <div class="container">
        <div class="row mt-4">
        </div>
            <div class="row mt-4">
                <div class="col-md-6 offset-md-3">
                    <div class="form">
                        <form  action="/pages/create" method="post">
                            <h3 class="text-center">Sign Up</h3>
                            p(style="color: red;" class="text-center")= errorMessage1
                            p(style="color: red;" class="text-center")= errorMessage2
                            <div class="my-4">
                                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="username" name="username">
                            </div>  
                            <div class="my-4">
                                <input type="password" class="form-control" id="password1" aria-describedby="emailHelp" placeholder="contraseña" name="password1">
                            </div>  
                            <div class="my-4">
                                <input type="password" class="form-control" id="password2" aria-describedby="emailHelp" placeholder="repetir contraseña" name="password2">
                            </div>  
                            <div class="d-grid gap-2">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </form>
                        <div class="my-4 text-center">
                            <a href="/pages/sign-in">Sign In</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    